<html>
    <head>
        <title>test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    {% block javascripts %}
    {% endblock %}
    <body>
    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    </body>

</html>
